#app {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.copyright {
    float: left;
}


.about-modal {
    width: 400px;
}

.webpack {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 30px;
    background-image: url("../images/webpack.gif");
}

.grails {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 20px;
    background-repeat: no-repeat;
    background-image: url("../images/grails.png");
}



.center {
    margin: 0 auto;
    width: 300px;
}

img.react-logo {
    width: 100px;
    margin: 0 auto;
}